.hollow {
	fill: var(--fill, #ffffff);
	stroke: var(--icon, #aed581);
	stroke-width: 2;
}
.solid {
	fill: var(--icon, #aed581);
	stroke: var(--icon, #aed581);
	stroke-width: 0.2;
}
.outline {
	fill: var(--fill, #ffffff);
	fill-opacity: var(--outer-fill-opacity, 1);
	stroke: var(--outer, #00bb66);
	stroke-width: var(--outer-width, 7);
}
.mon {
	--icon: #101010;
	--fill: #aed581;
	--outer: #aed581;
}
.mof {
	--icon: #aed581;
	--fill: #101010;
	--outer: #aed581;
}
.delete {
	--icon: #101010;
	--fill: #e57373;
	--outer: #e57373;
}
.clone {
	--icon: #101010;
	--fill: #81d4fa;
	--outer: #81d4fa;
}
.mon2 {
	--icon: #4fc3f7;
	--fill: #aed581;
	--outer: #aed581;
	--outer-fill-opacity: 0;
}
.mof2 {
	--icon: #4fc3f7;
	--fill: #101010;
	--outer: #aed581;
	--outer-fill-opacity: 0;
}
.delete2 {
	--icon: #4fc3f7;
	--fill: #e57373;
	--outer: #e57373;
	--outer-fill-opacity: 0;
}
.clone2 {
	--icon: #4fc3f7;
	--fill: #81d4fa;
	--outer: #81d4fa;
	--outer-fill-opacity: 0;
}
.zone {
	rx		: 6px;
	stroke		: #ddddff;
	stroke-width	: 3;
	fill		: #ddddff;
	fill-opacity	: 0.3;
}
.zoneDelete {
	rx		: 6px;
	stroke		: #e57373;
	stroke-width	: 3;
	fill		: #e57373;
	fill-opacity	: 0.3;
}
.zoneActive {
	rx		: 6px;
	stroke		: #aed581;
	stroke-width	: 3;
	fill		: #aed581;
	fill-opacity	: 0.3;
}
.icon {
	transform	: scale(0.3);
}
.link {
	stroke		: #4fc3f7;
	stroke-width	: 10;
}
.box {
	rx		: 6px;
	fill		: #505050;
	stroke		: #ddddff;
	stroke-width	: 4;
	fill-opacity	: 1;
}
.gridline {
	stroke		: #ddddff;
	stroke-width	: 2;
}
.panel {
	rx		: 8px;
	fill		: #505050;
	fill-opacity	: 1;
}
.gridPoints {
	fill		: #202020;
	fill-opacity	: 1;
}
